<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener Microservice</title>
    <meta name="description" content="URL Shortener Microservice made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        URL Shortener Microservice
      </h1>
      <h2>
        By Andrew Berumen
      </h2>
    </header>

    <main>
      
      <section class="userStories">
        <ul id="stories">
          <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
          <li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
          <li>When I visit that shortened URL, it will redirect me to my original link.</li>
        </ul>
      </section>
      
      <h3>
        Example usage: 
      </h3>
      <p>
        Put in the url you wish to shorten after <code>https://url-shortener-ab.glitch.me/new/</code>, such as:
      </p>
      <code>
        <a href="https://url-shortener-ab.glitch.me/new/http://www.google.com">https://url-shortener-ab.glitch.me/new/http://www.google.com</a>
      </code>
      <br>
      <br>
      Returns:
      <br>
      <code>
        <a href= "http://url-shortener-ab.glitch.me/SytYKFzJf">http://url-shortener-ab.glitch.me/SytYKFzJf</a>
      </code>
    </main>

    <footer>
      
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
